<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="btn btn-primary m-1" style="background-color: #55acee;" href="https://twitter.com/busraozdemiir">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter
            </a>
        </li>
        <li>
            <a class="btn btn-primary m-1" style="background-color: rgb(172, 43, 172);" href="https://www.instagram.com/busra.0zdemir/">
                <i class="fab fa-instagram"></i>
                <span class="count"></span> Instagram
            </a>
        </li>
        <li>
            <a class="btn btn-primary m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/b%C3%BC%C5%9Fra-%C3%B6zdemir-b4672b235/">
                <i class="fab fa-linkedin-in"></i>

                <span class="count"></span> LinkedIn
            </a>
        </li>
        <li>
            <a class="btn btn-primary m-1" style="background-color: #333333;" href="https://github.com/busraozdemir0">
                <i class="fab fa-github"></i>

                <span class="count"></span> GitHub
            </a>
        </li>

    </ul>
</div>