@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<body>
    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="/Blog/BlogReadAll/@item.BlogID">
                                        <img src="~/BlogImageFiles/@item.BlogImageYol" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i> 0 Beğeni
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-comment"></i> @ViewBag.yorumSayisi Yorum
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="/Blog/BlogReadAll/@item.BlogID">@item.BlogTitle </a>
                            </h3>
                            <p>
                                @item.BlogContent
                            </p>
                            <a href="/Blog/Index/" class="btn btn-primary read-m">Blog Listesi</a>
                        </div>
                    }
                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.id })  @* tıkladığımız değere göre viewbag ile id gönderdik *@

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml",new { id = ViewBag.c })

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <h4>Mail Bültenine Abone Olun.</h4>

                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml") 

                        @await Component.InvokeAsync("CategoryList") @*Component View oluşturup burada çağırıyoruz*@

                        @await Component.InvokeAsync("WriterLastBlog")

                        @await Component.InvokeAsync("BlogLastPost")
                        
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
</body>
</html>

