<div class="dropdown profile-element">
    <img alt="image" class="rounded-circle" style=" width:80px; height:95px; margin-left:40px;" src="~/WriterImageFiles/busra.jpg" />
    <a href="@ViewBag.ResimYol">
        <span class="block m-t-xs font-bold" style="margin-left:30px;">@ViewBag.NameSurname</span>
        <span class="text-muted text-xs block" style="margin-left:21px;">Software Developer</span>
    </a>
</div>