<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" style="width:60px; height:70px" src="~/WriterImageFiles/busra.jpg" />
                    <a href="#">
                        <span class="block m-t-xs font-bold">Büşra Özdemir</span>
                        <span class="text-muted text-xs block">Yazılım Mühendisi</span>
                    </a> 
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="/Admin/Widget/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>
            <li>
                <a href="/Admin/Chart/Index/"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span>  </a>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/AdminMessage/Inbox/">Gelen Kutusu</a></li>
                    <li><a href="/Admin/AdminMessage/SendBox/">Giden Kutusu</a></li>
                    <li><a href="/Admin/AdminMessage/ComposeMessage/">Yeni Mesaj Oluştur</a></li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Category/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminBlog/Index/"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminComment/Index/"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index/"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Settings/AdminSettings/"><i class="fa fa-info"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminRole/Index"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span>  </a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="/Admin/About/Index/"><i class="fa fa-address-book"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-flask"></i> <span class="nav-label">Raporlar</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Blog/ExportStaticExcelBlogList/">Statik Rapor</a></li>
                    <li><a href="/Admin/Blog/ExportDynamicExcelBlogList/">Dinamik Rapor</a></li>
                </ul>
            </li>
            <li>
                <a href="/Blog/Index/"><i class="fa fa-sign-out"></i> <span class="nav-label">Siteye Git</span></a>
            </li>
            <li>
                <a href="/Login/LogOut/"><i class="fa fa-close"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>